<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Benjamin Goldenberg" />
  
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   
   {% if page.extra_css %}
   		{% for css_link in page.extra_css %}
   			<link rel="stylesheet" href="{{css_link}}" type="text/css">
   		{% endfor %}
   {% endif %}
</head>
<body>

<div class="site">
  <div class="header">
    <a class="title"href="/">Benjamin Goldenberg</a>
    <span class="path">
    <a href="/">home</a>
    {% for path_element in page.path %}
     &raquo; {{path_element}}
    {% endfor %}
    </span>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Benjamin Goldenberg<br />
        Student at <a href="http://www.hmc.edu"> Harvey Mudd College</a> <br/>
        <a href="mailto:bgoldenberg@hmc.edu">bgoldenberg@hmc.edu</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/goldenberg/">github.com/goldenberg</a><br />
        <a href="http://twitter.com/bengoldenberg/">twitter.com/bengoldenberg</a><br />
        <a href="http://www.linkedin.com/in/bengoldenberg">linkedin.com/in/bengoldenberg</a>
      </p>
    </div>
    <div class="rss">
      
    </div>
  </div>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10258020-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
